# Ignore data folder
data/

# Ignore logs folder
logs/

# Ignore config file
config.json

# Ignore virtual environment
.venv/

# Ignore pychache files
__pycache__/

# Ignore projects
projects/

# Ignore testing.py (contains sensitive information)
testing.py

# ignore compilation folders
*.build/
*.dist/

# ignore compiled files
*.cmd
*.exe
*.dll